QBIT_URL=http://host.docker.internal:8080
QBIT_USER=admin
QBIT_PASS=change-me
PROWLARR_URL=http://host.docker.internal:9696
PROWLARR_API_KEY=
TMDB_API_KEY=
TVDB_API_KEY=
SEASON_SOURCE=anilist
LIBRARY_DIR=./library
DOWNLOADS_DIR=./downloads
